{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="form">
        <h1>Se connecter</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password.label_tag }}
            {{ form.password }}

            {{ form.errors }}

            <button type="submit">CONNEXION !</button>
        </form>
    </div>

{% endblock %}
