/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
    background-color:#fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}


/* Navbar */

.navbar{
    background-color:#333;
    border-top: 4px solid #3a3839;
    padding: 1.5em 0;
}

.navbar-brand {
    font-family: 'Press Start 2P', 'Open Sans', "Helvetica Neue", Arial, sans-serif;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-right{
    float: right;
}

.navbar-right li{
    display: inline-block;
    list-style: none;
    margin-top: 0.3em;
    margin-right: 2em;
}

.navbar-right li:last-child{
    margin-right: 0;
}

.navbar-right li a{
    color: #fff;
    text-decoration: none;
}

.navbar-right li a:hover{
    color: #1ce;
}


/* Search */

.container_search {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 100px;
}

  .end_search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: #444;
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
/ /   box-shadow: 0 0 25px 0 crimson;
  }

.end_search:hover {
    cursor: pointer;
}

.end_search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }

.end_search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }

.navbar input {
    font-family: 'Open Sans', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
/ / border-bottom: 1 px solid rgba(255, 255, 255, 0.2);
    background-color: #444;
    color: white;
    text-shadow: 0 0 10px #444;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #444,
    0 20px 25px 0 rgba(0, 0, 0, 0.2);
/ / box-shadow: inset 0 0 25 px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.navbar input:hover {
  cursor: pointer;
}

.navbar input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.navbar input:focus ~ .search {
    right: -250px;
    background: #fff;
    z-index: 6;
}

.navbar input::before {
    top: 0;
    left: 0;
    width: 25px;
}

.navbar input::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0;
    transform: rotate(-45deg);
}

.navbar input::placeholder {
  color: white;
  opacity: 0.8;
  font-weight: bolder;
}


/* Index */

.resume {
    margin: 2em;
}

.link {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin:1em;
}

.link:hover {
    background-color: #636c72;
    color: #fff;
}

/* Form */

.form h1 {
    margin: 0;
    padding: 1em 0 0;
}

.form * {
    display: block;
}

.form label {
    padding-top: 3em;
}

.form input, select, textarea {
  width: 30%;
  padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button, a.cancel {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.form button:hover {
    background-color: #448645;
}

.form a.cancel{
    background-color: red;
    text-decoration: none;
}

.form a.cancel:hover{
    background-color: darkred;
}

.form input[type=submit]:hover {
  background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
    display:block;
}


/* Edit */

input#picture-clear_id {
    margin: 1em 0 -4.1em 24.5em;
}

/* Pagination */

.center {
  text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination .current {
    background-color: #4CAF50;
    color: white;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.current) {background-color: #ddd;}

.pagination a {
}

/* Announce List */

.list {
    display: flex;
    border: 1px solid #c5c5c5;
    margin-bottom: 2em;
    transition: 0.1s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.list:hover {
    transition: 0.1s;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

.list a {
    text-decoration: none;
}

.list .edit a:hover {
    text-decoration: underline;
}

.list .announce_content {
    margin-left: 1rem;
    flex: 1 1 77%;
    padding: 1rem 0;
    line-height: 2.5em;
}

.list .announce_img {
    flex: 1 1 23%;
    position: relative;
    overflow: hidden;
    background-color: #8b989f;
}

.list .announce_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.list .title a {
    display: inline-block;
    color: #000;
    margin-bottom: 0.5em;
    font-size: 28px;
}

.list .title a:hover {
    color: #2a6c96;
}

.list .content {
    margin-bottom: 1em;
    padding: 1em 0;
}

.list .category {
    margin-bottom: 0.3em;
    font-weight: bold;
}

.list .location {
    float: left;
    font-style: italic;
    color: #333333;
}

.list .edit {
    float: right;
    padding-right: 1rem;
}

.list .time {
    padding-right: 1rem;
    color: #636c72;
    text-align: right;
}


/* Announce Detail */

.detail {
    border: 1px solid #c5c5c5;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    width: calc(100% - 4rem);
    max-width: 1066px;
    min-width: 320px;
    margin: 2rem auto;
}

.detail .announce_img {
    background-color: #8b989f;
}

.detail .announce_img img {
    width: 100%;
}

.detail .announce_content {
    margin-left: 2rem;
    flex: 1 1 75%;
    padding: 1rem 0;
    line-height: 2em;
}

.detail .content {
    padding: 1em 0;
}


.detail .category {
    font-weight: bold;
}

.detail .location {
    font-style: italic;
    color: #333333;
}

.detail .edit {
    float: left;
    padding-right: 1rem;
}

.detail .time {
    padding-right: 1rem;
    color: #636c72;
    text-align: right;
}


/* Footer */

.footer{
    margin-top: 3em;
    color: rgba(0,0,0,0.6);
}

.footer:before {
    content: " ";
    display: block;
    height: 1px;
}