{% extends 'base.html' %}
{% block content %}


    <h1>Il y a {{ announce_list|length }} Annonce(s)</h1>
        {% for announce in announce_list %}

            <article class="list">
                <div class="announce_img">
                    <a href="{% url 'detail_announce' announce.pk %}">
                        <img src="{{ announce.picture.url }}">
                    </a>
                </div>
                <div class="announce_content">
                    {% if user.is_authenticated and request.user.is_superuser or user.is_authenticated and request.user == announce.author %}
                    <p class="edit">
                        <a href="{% url 'update_announce' announce.pk %}">Modifier</a>&nbsp;
                        <a href="{% url 'delete_announce' announce.pk %}">Supprimer</a>
                    </p>
                    {% endif %}
                    <h2 class="title"><a href="{% url 'detail_announce' announce.pk %}">{{ announce.title }}</a></h2>
                    <p class="category">
                        {% for p in announce.categories.all %}
                            {{ p }}
                        {% endfor %}
                    </p>
                    <p class="content">
                        {{ announce.description|truncatechars:100 }} <br />
                    </p>
                    <p class="location">
                        {{ announce.location }}
                    </p>
                    <p class="time">
                        <time datetime="{{ announce.created_at|date:'d/m/Y à H\hi' }}">
                           🕒 Postée le {{ announce.created_at|date:'d/m/Y à H\hi' }}
                        </time>
                    </p>
                </div>
                <ul>
                 {% for announce in object.announce.all %}
                    <li>{{ announce }}</li>
                 {% endfor %}
                 </ul>
            </article>
        {% endfor %}

{% endblock %}