{% extends 'base.html' %}
{% block content %}

    <div class="form">
        <h1>Êtes vous sûr de vouloir supprimer cette annonce ?</h1>
        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <button type="submit">Supprimer !</button>
            <a href="{% url 'detail_announce' announce.pk %}" class="cancel">Annuler !</a>
        </form>
    </div>

{% endblock %}