{% extends 'base.html' %}
{% block content %}
    <div class="form">
        <h1>Poste ton annonce</h1>
        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <button type="submit">ENVOYER !</button>
        </form>
    </div>

{% endblock %}