{% extends 'base.html' %}
{% block content %}

    <article class="detail">
        <div class="announce_img">
            <img src="{{ announce.picture.url }}" alt="{{ announce.picture.name }}">
        </div>
        <div class="announce_content">
            <p class="location">
                {{ announce.location }}
            </p>
            <h2 class="title"><a href="{% url 'detail_announce' announce.pk %}">{{ announce.title }}</a></h2>

            <p class="category">
                {% for p in announce.categories.all %}
                    {{ p }}
                {% endfor %}
            </p>
            <p class="content">
                {{ announce.description|truncatechars:100 }} <br />
            </p>
            <p class="edit">
                <a href="{% url 'update_announce' announce.pk %}">Modifier</a>&nbsp;
                <a href="{% url 'delete_announce' announce.pk %}">Supprimer</a>
            </p>
            <p class="time">
                <time datetime="{{ announce.created_at|date:'d/m/Y à H\hi' }}">
                   🕒 Postée le {{ announce.created_at|date:'d/m/Y à H\hi' }}
                </time>
            </p>
        </div>
    </article>

{% endblock %}