{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Le Bon Recoin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{% static 'dist/site.webmanifest' %}">
    <link rel="apple-touch-icon" href="{% static 'dist/icon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'dist/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    {% include "nav.html" %}

    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="wrapper">
    {% block content %}{% endblock %}
    </div>

    {%  include 'footer.html' %}
</body>
</html>
