{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="center">
        <h1>{{ title }}</h1>
        <p class="resume">Trouvez la bonne affaire parmi les {{ announce_list|length }} annonce(s) sur LeBonRecoin.</p>

        <a href="{% url 'list_announce' %}" class="link">Voir la liste des annonces.</a>
    </div>

{% endblock %}
