<nav class="navbar">
    <div class="wrapper">
        <a href="{% url 'app_index' %}" class="navbar-brand">LeBonRecoin</a>
        <ul class="navbar-right">
            <li><a href="{%  url 'app_index' %}">Home</a></li>
            <li><a href="{%  url 'create_announce' %}">Poster une annonce</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Deconnexion</a></li>
            {% else %}
                <li><a href="{%  url 'login' %}">Connexion</a></li>
                <li><a href="{%  url 'signup' %}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="container_search">
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Je cherche...">
        </form>
        <div class="end_search"></div>
    </div>
</nav>

