{% extends 'base.html' %}

{# {% block title %}Inscription{% endblock %} #}

{% block content %}
    <div class="form">
        <h1>Inscription</h1>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="font-style: italic; color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}